.Frame { width:1000px; margin:0 auto;}
.Clear { clear:both;}

/* MedHeader */
.MedHeader { width:100%; overflow:hidden;}
.Topnav { height:35px; background-color:#f1f0f0; line-height:35px; overflow:hidden;}
.Topleft { width:40%; float:left;}
.Topleft p { margin-left:15px; float:left;}
.Topright { width:50%; float:right;}
.Topright li { width:14%; float:left; text-align:center;}
.MebTitle { height:140px; overflow:hidden;}
.Meblogo { width:237px; overflow:hidden; float:left;}
.Meblogo img{ width:237px; height:58px; float:left; margin-top:40px; overflow:hidden;}
.Meblogo p{ float:left; float:right; font-size:13px; padding-top:5px; margin-right:10px;}




/*Search*/
.pull{display:inline-block;*display:inline;zoom:1;margin:0 3px 0 3px;color:#333;position:relative;}
.pull i,.moreSc i { display:inline-block;width:5px;height:3px;vertical-align:middle;margin-left:10px;background:url(../images/down.png) no-repeat;*position:relative;_top:7px;*left:10px;}
.MSearch { width:320px; float:left;position:absolute; margin-left:257px; margin-top:40px;}
.sc{margin: 10px 0;width:400px;top:0px;right:0;background:#fff; }
.txtbox{ float:left;border:1px solid #c1c1c1;width:297px;padding:0 5px;position:relative;_right:-3px;z-index:1;}
.sctxt { border:1px solid #fff;height:26px;line-height:26px;padding:2px 3px;width:330px;outline:none;vertical-align:middle;*height:24px;*line-height:24px;}
.scbtn { border:1px solid #c1c1c1;border-left:none;color:#666;padding-left:20px;background:#fafafa url(../images/scbtn.png) no-repeat 15px center;
height:34px;line-height:30px;width:90px;font-size:16px;font-family:'寰蒋闆呴粦';float:left;}
.scbtn:hover { background:#fefefe url(../images/scbtn.png) no-repeat 15px center;}
.sclist {position:relative;z-index:2;height:31px;width:100%;_padding-left:3px;_top:-1px;}
.sclist li { float:left;font-size:14px;padding:3px 20px;cursor:pointer;border:1px solid #fff;border-top:3px solid  #fff;color:#666;}
.sclist li.now{border:1px solid #c1c1c1;border-top:3px solid  #009a49;border-bottom:#fff;position:relative;top:2px;background:#fff; }
.moreSc { position:absolute;top:12px;right:-39px;font-size:14px;padding:3px 10px;z-index:2;cursor:pointer;width:43px;border:1px solid #fff;border-bottom:none;}
.selected { border:1px solid #c1c1c1;border-bottom:none;}
.selected i {_top:7px;*left:0px;background:url(../images/up.png) no-repeat;}
.morelist { position:absolute;border:1px solid #c1c1c1;border-top:none;background:#fff;left:-1px;display:none;top:23px;}
.morelist li { width:63px;text-align:center;height:32px;line-height:32px;cursor:pointer;color:#666;margin-top:1px;}
.morelist li.hover,.morelist li:hover{ background:#009A49;color:#fff;}
/**tabs**/
.tabPanel ul{height:30px;border-bottom:1px solid #aaa;}
.tabPanel ul li{
	float:left;margin:0 2px 0 0;border:1px solid #aaa;font-size:11px;height:29px;line-height:30px;width:111px;text-align:center;cursor:pointer;
	text-shadow:0 1px 0 #fff;
	border-radius:4px 4px 0 0;
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	background:#ddd;
	background:-moz-linear-gradient(top, #eee, #ddd);
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
}
.tabPanel .hit{
	border-bottom:1px solid #fff;cursor:pointer;color:black;text-shadow:0 1px 0 #fff;
	background:#fff;
	background:-webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#fff));
	background:-moz-linear-gradient(top, #e1e1e1, #fff);
}
.pane{border:1px solid #aaa;border-top:0;min-height:100px;background-color:#fff;display:none;}
.pane p{padding:15px 15px 0 10px;}
.pane h4{padding:15px 15px 0 10px;font-size:14px;font-weight:bold;}





.Phone { width:169px;  height:55px;  overflow:hidden; float:left; margin-left: 469px;margin-top: 10px;} 
.erweima { height:125px; float:right; margin-top:-43px;}


/*Mebnav*/
.Mebnav { width:100%; height:35px; background-color:#36793b; font-size:14px; color:#fff;}
.Zong { width:200px; height:35px; line-height:35px; background-color:#225626; text-align:center; float:left;}
.nav { width:800px; height:35px; overflow:hidden; float:left;}
.nav ul { margin-left:60px;}
.nav ul li { width:100px; height:35px; line-height:35px; float:left; overflow:hidden;}
.nav ul li a { color:#fff;}



.Mebbanner { overflow:hidden;}

.RList { width:790px; height:472px; float:right; overflow:hidden;}
.RLeft { width:490px; height:460px; float:left; overflow:hidden; margin-top:12px;}
.Rbanner { width:490px; height:330px; float:left; overflow:hidden;}
.Grouping { width:100%; height:120px; float:left; overflow:hidden; margin-top:11px;}
.Grouping ul {}
.Grouping ul li { width:120px; height:118px; float:left; overflow:hidden; margin-left:3px;}
.Grouping ul li.now{ margin-left:0px;}

#wrapper {max-width:120px; width:100%; margin:0px auto;}
/* main_img */
.main_img{ height: 118px; width: 120px; overflow:hidden; position: relative;}
.main_img img{
	height: 118px; 
    width: 120px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
	z-index:1;
	transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
	/* Firefox 4 */
	-moz-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
	/* Safari 鍜�Chrome */
	-webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
	/* Opera */
	-o-transition-delay: 0s;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
	}
.main_img .show {
    background: rgba(0, 0, 0, 0.4);
    height:118px;
    left: 0;
    opacity: 0;
	filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease-in;
	/* Firefox 4 */
	-moz-transition-delay: 0s;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: opacity;
    -moz-transition-timing-function: ease-in;
	/* Safari 鍜�Chrome */
	-webkit-transition-delay:0s;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    -webkit-transition-timing-function: ease-in;
	/* Opera */
	-o-transition-delay:0s;
    -o-transition-duration: 0.3s;
    -o-transition-property: opacity;
    -o-transition-timing-function: ease-in;
    width:120px;
    z-index: 200;
}
.main_img .show .imgArea {
    left: 50%;
	bottom:0;
    margin:-15px 0px 0px -40px;
    opacity: 0;
    position: absolute;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
	/* Firefox 4 */
	-moz-transition-delay: 0s;
    -moz-transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
	/* Safari 鍜�Chrome */
	-webkit-transition-delay:0s;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
	/* Opera */
	-o-transition-delay:0s;
    -o-transition-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}
.main_img .show .imgArea a{
	color:rgba(255,255,255, 0.8);
	display:block;
	padding:5px 12px;
	border:rgba(255,255,255, 0.6) 1px solid;
	border-radius:8px;
	font-size: 14px;
}
.main_img .show .imgArea a:hover{
	background:#f1a106;
	opacity:0.9;
	color:#fff;
}
.main_img:hover  .show {opacity: 1;filter:alpha(opacity=100);}
.main_img:hover .show .imgArea{opacity:1;filter:alpha(opacity=100);bottom:40%;}
.main_img:hover img {
	transform: scale(1.2, 1.2);
	-ms-transform:scale(1.2, 1.2); 	/* IE 9 */
	-moz-transform:scale(1.2, 1.2); 	/* Firefox */
	-webkit-transform:scale(1.2, 1.2); /* Safari 鍜�Chrome */
	-o-transform:scale(1.2, 1.2); 	/* Opera */
}



.Rright { width:289px; height:460px; float:right; margin-top:12px; }
.Rtop { width:100%; height:40px; float:left; overflow:hidden;}
.Rtop span { width:80px; height:40px; line-height:40px; display:inline-block; float:left; background-color:#f1a106; text-align:center; font-size:14px; color:#fff; margin-left:3px;}
.Rtop span.Rnow { margin-left:0px;}
.Rtop span a{ color:#fff;}
.Rtop span a:hover{ width:80px; height:40px; line-height:40px; color:#fff; display:inline-block; background-color:#36793b; text-decoration:none;}
.Rtop span.Release { width:123px; }
.Rtop span.Release a:hover{ width:123px;}
/*Fnav*/

.Fnav { width:198px; height:469px; float:left;position: absolute; border:1px solid #36793b; background-color:#fff;z-index:9999;}
.all-goods{ height:472px; top: 40px;left: 0;overflow: visible; margin-top:5px;}
.all-goods .item{width: 198px;height: 45px;border-top: 1px dashed #225626;}
.all-goods .btnone{ border-top:none;}
.all-goods .item .product{ position: absolute;z-index: 999; width: 198px;}
.all-goods .item .product p{font-size:12px; color:#666;padding-left: 2px;}
.all-goods .item .product h3{width: 198px;height: 45px;padding-left: 13px; line-height:22px;border-width: 1px 0;font-weight: normal; color:#fff;}

.all-goods .item .product h3 a{ color: #36793b; font-size:13px; line-height:22px; font-family:SimSun;}

.all-goods .item .product h3 a{ color: #36793b; font-size:14px; line-height:22px; font-family:SimSun;}

.all-goods .item .product h3 a:hover{ text-decoration:none;}
.all-goods .item .product i{position:relative; z-index:1; right:14px; top:-44px; float:right; width:4px; height:14px; color:#36793b;font: 400 9px/14px consolas;}
.all-goods .active .product h3{line-height:22px; line-height:22px;background-position:-12px -170px;/*background-color:#36793b;*/width: 185px; opacity:0.8; border:1px solid #060; border-right:none; border-left:none;}
.all-goods .active .product h3 a{ color: #000;}
.all-goods .product-wrap{ min-height:200px; position: absolute; width: 478px; z-index: 99;  background: #fff; border:1px solid #060; border-left:none; opacity:0.9; padding: 10px; display: none;}
.all-goods .product-wrap p{ color:#999999;}
.all-goods .posone{left: 198px; top: 5px;}
.all-goods .postwo{left: 198px; top: 51px;}
.all-goods .posthree{left: 198px; top: 97px;}
.all-goods .posfour{left: 198px; top: 143px;}
.all-goods .posfive{left: 198px; top: 189px;}
.all-goods .possix{left: 198px; top: 235px;}
.all-goods .posseven{left: 198px; bottom: -1px;}
.all-goods .poseight{left: 198px; bottom: -1px;}
.all-goods .posnine{left: 198px;  bottom: -1px;}
.all-goods .posten{left: 198px; bottom: -1px;}
.all-goods .product-wrap h2{ font-size: 16px;color: #225626;font-weight: bold;}
.all-goods .product-wrap h2 a{height: auto;line-height: 16px;color: #225626;padding-left:8px;}
.all-goods .product-wrap ul{ border-top: 1px solid #fff; margin-top:3px; }
.all-goods .product-wrap ul li{ width:70px; float: left; display: inline; background:url(../images/Spdd.png) 13px 5px no-repeat;  margin-top: 15px; white-space:nowrap; font-size:13px; text-align:center;}
.all-goods .product-wrap ul li a{ padding-left: 30px;  color: #225626;display: inline-block;line-height: 18px; text-decoration: none; font-weight:bold;}
.all-goods .product-wrap ul li a:hover{ text-decoration: none;  color: #f1a106;}
.all-goods .product-wrap div dd,.all-goods .product-wrap div dl a{ display:block; width:200px; height:120px; overflow:hidden;}
.Mmore { height:30px; line-height:30px; float:right; overflow:hidden; color:#225626; margin-top:40px;}
.Mmore a{color:#225626;}
.Mmore a:hover{ text-decoration:underline;}


/*RNew*/
.RNew { width:100%; height:281px; float:left; overflow:hidden;  margin-top:10px;}
.group::after, .tabBlock-tabs::after {clear: both;content: "";display: table;}

.unstyledList, .tabBlock-tabs {list-style: none;margin: 0;padding: 0;}
.tabBlock {margin: 0 0 2.5rem;}
.tabBlock-tab {background-color: white;border-color: #d8d8d8;border-left-style: solid;border-top: solid;border-width: 2px;color: #999;cursor: pointer;display: inline-block; font-size:14px;float: left;padding: 0.625rem 1.25rem;position: relative;-webkit-transition: 0.1s ease-in-out;transition: 0.1s ease-in-out;}
.tabBlock-pane ul{}
.tabBlock-pane ul li { width:100%; height:25px; line-height:25px; float:left; overflow:hidden;}
.tabBlock-pane ul li span.titles { width:170px; height:25px; line-height:25px; display:inline-block; float:left; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.tabBlock-pane ul li span.INdate { width:53px; height:25px; line-height:25px; display:inline-block; float:right; overflow:hidden;}


.tabBlock-tab:last-of-type {border-right-style: solid;}
.tabBlock-tab::before, .tabBlock-tab::after {content: "";display: block;height: 4px;position: absolute;-webkit-transition: 0.1s ease-in-out;transition: 0.1s ease-in-out;}
.tabBlock-tab::before {background-color: #ccc;left: -2px;right: -2px;top: -2px;}
.tabBlock-tab::after {background-color: transparent;bottom: -2px;left: 0;right: 0;}
@media screen and (min-width: 700px) {
  .tabBlock-tab {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.tabBlock-tab.is-active {position: relative;color: #36793b;z-index: 1;}
.tabBlock-tab.is-active::before {background-color: #36793b;}
.tabBlock-tab.is-active::after {background-color: white;}
.tabBlock-content {background-color: white;border: 1px solid #d8d8d8;padding: 1rem;height: 204px;}
.tabBlock-pane > :last-child {margin-bottom: 0;}


/*RService*/
.RService { width:287px; height:116px; border:1px solid #dfdfdf; float:left; margin-top:10px;}
.Rstitle { width:100%; height:40px; line-height:40px; border-bottom:1px dashed #dfdfdf; text-indent:1em; font-size:14px;}
.Rslist { width:100%; height:75px; background-color:#f4f2f2;}
.Rslist ul{list-style:none;margin:0px;padding:0px;}  
.Rslist ul li{float:left; width:71px; height:75px; float:left; border-right:1px dashed #ccc;}  
.small_image { width:50px; height:50px; background-image:url(../images/biao.png); background-repeat:no-repeat;}
.bg_position_left{background-position:3% 9%; margin:4px auto;}  
.bg_position_left:hover{  width:50px; height:50px; background-image:url(../images/biao.png); background-repeat:no-repeat; background-position:3% 105%; margin:4px auto;}

.Rslist li p{ width:71px; height:10px; line-height:10px; text-align:center; font-size:13px; }
.Rslist li p a { color:#36793b; display:block;}
.Rslist li p a:hover{ color:#f2a501; display:block;}
.bg_position_two { background-position:34% 9%; margin:4px auto;}
.bg_position_two:hover{ width:50px; height:50px; background-image:url(../images/biao.png); background-repeat:no-repeat; background-position:34% 105%; margin:4px auto;}
.bg_position_three { background-position:67% 9%; margin:4px auto;}
.bg_position_three:hover{ width:50px; height:50px; background-image:url(../images/biao.png); background-repeat:no-repeat; background-position:67% 105%; margin:4px auto;}
.bg_position_four { background-position:97% 9%; margin:4px auto;}
.bg_position_four:hover{ width:50px; height:50px; background-image:url(../images/biao.png); background-repeat:no-repeat; background-position:97% 105%; margin:4px auto;}
.Rslist li.Four { border:none;}

/*Abanner*/
.Abanner { width:1000px; height:78px; overflow:hidden; margin-top:20px;}
.Abanner img { width:100%;}

/*Main*/
.Main { margin-top:20px; overflow:hidden;}
.Mleft { width:770px; float:left; overflow:hidden; }

/*OneFloor*/
.OneFloor { width:768px; height:400px; border:1px solid #d7d7d7; overflow:hidden;}
.OneTitle { width:100%; height:40px; background-color:#f5f5f5; overflow:hidden; border-bottom:2px solid #36793b;}
.OneTit { width:200px; height:40px;  background-color:#36793b; float:left;  overflow:hidden;}
.OneTit a{ color:#fff;}
.OneTit a:hover{ color:#ebb242; text-decoration:none;}
.OneTit img { width:37px; height:37px; float:left; padding-left:35px; padding-top:3px;}
.OneTit h1 { color:#fff; font-size:18px; line-height:40px; margin-left:18px; display:inline-block;font-weight: bold;}
.Onenav { width:50%; height:20px; float:left;  overflow:hidden; margin-top:15px; margin-left:20px;} 
.Onenav ul {}
.Onenav ul li { width:20%; height:20px; text-align:center; line-height:20px; float:left; overflow:hidden; border-right:1px solid #ccc;}
.OneMore { width:7%; height:20px; line-height:20px; float:right; margin-top:15px;}
.Fleft { width:199px;overflow:hidden; float:left; border-right:1px solid #d7d7d7;}
.OneFhover { width:199px; height:190px; background-color:#f5f5f5; overflow:hidden; float:left;}
.OneFhover ul{}
.OneFhover ul li { width:100%; height:30px; line-height:30px; float:left; border-bottom:1px dashed #ccc; overflow:hidden; }
.Hot_List span.Orange { width:15px; height:15px; line-height:15px; text-align:center; background-color:#f4ac00; font-family:Arial; font-weight:bold; color:#fff; display:inline-block; float:left; margin-left:20px; margin-top:8px;}
.Hot_List p{ text-indent:1em; font-size:13px;}
.Hot_List span.Grey { width:15px; height:15px; line-height:15px; text-align:center; background-color:#aeabab; font-family:Arial; font-weight:bold; color:#fff; display:inline-block; float:left; margin-left:20px; margin-top:8px;}
.Fmore { width:45px; height:20px; line-height:20px; float:right; overflow:hidden; margin-top: 10px; background-color: #ccc; text-align: center; border-radius:2px; margin-right:5px; font-size:11px;}
.Fmore a{}
.Fmore a:hover{ display:inline-block;width:45px; height:20px; line-height:20px; background-color:#ebb242; color:#fff; text-decoration:none;}
.Flogo img{ width:100%; height:83px; float:left; border-bottom:1px dashed #ccc;}


.Fright { width:568px; overflow:hidden; float:left;}
#zzsc{ height:auto; width:100%; float:left; overflow:hidden; }
#zzsc ul li{ width:188px; height:180px; overflow:hidden; float:left; margin-left:2px; margin-bottom:2px; position:relative; cursor:pointer;}
#zzsc ul li img{ width:188px; height:180px;}
#zzsc ul li .text{ width:100%; height:49px; overflow:hidden; position:absolute; left:0; bottom:0; background-color:#000; opacity:0.6; font-size:13px; color:#fff;}
#zzsc ul li .text p{ width:90%; color:#fff; line-height:20px; padding-left:13px; overflow:hidden; font-size:13px;  clear:both}
#zzsc ul li .text b{ display:block; float:left; background:#000; text-indent:1em; overflow:hidden; font-size:13px; height:20px; line-height:20px; padding-top: 5px;}
#zzsc ul li .text a{ color:#fff;}
#zzsc ul li .text a:hover{ color:#fff;}

/*TwoFloor*/
.TwoFloor { width:768px; height:400px; border:1px solid #d7d7d7; overflow:hidden; margin-top:20px;}
.TwoTitle { width:100%; height:40px; background-color:#f5f5f5; overflow:hidden; border-bottom:2px solid #36793b;}
.TwoTit { width:200px; height:40px;  background-color:#36793b; float:left;  overflow:hidden;}
.TwoTit a{ color:#fff;}
.TwoTit a:hover{ color:#ebb242; text-decoration:none;}
.TwoTit img { width:37px; height:37px; float:left; padding-left:35px; padding-top:3px;}
.TwoTit h1 { color:#fff; font-weight: bold; font-size:18px; line-height:40px; margin-left:18px; display:inline-block;}
.Twonav { width:50%; height:20px; float:left;  overflow:hidden; margin-top:15px; margin-left:20px;} 
.Twonav ul {}
.Twonav ul li { width:20%; height:20px; text-align:center; line-height:20px; float:left; overflow:hidden; border-right:1px solid #ccc;}
.TwoMore { width:7%; height:20px; line-height:20px; float:right; margin-top:15px;}
.TwoFleft { width:199px;overflow:hidden; float:left; border-right:1px solid #d7d7d7;}
.TwoFhover { width:199px; height:190px; background-color:#f5f5f5; overflow:hidden; float:left;}
.TwoFhover ul{ margin-top:5px;}
.TwoFhover ul li { width:99px; height:30px; line-height:30px; float:left; overflow:hidden; text-align:center; border-bottom:1px dashed #ccc;}
.TwoFmore { width:45px; height:20px; line-height:20px; float:right; overflow:hidden; margin-top: 7px; background-color: #ccc; text-align: center; border-radius:2px; margin-right:5px; font-size:11px;}
.TwoFmore a{}
.TwoFmore a:hover{ display:inline-block; width:45px; height:20px; line-height:20px; background-color:#ebb242; color:#fff; text-decoration:none;}
.TwoFlogo img{ width:100%; height:83px; float:left; border-bottom:1px dashed #ccc;}

.TwoFright { width:568px; overflow:hidden; float:left;}
.TwoFright ul li img { width:100%;}
#zzFF{ height:auto; width:100%; float:left; overflow:hidden; }
#zzFF ul li{ width:188px; height:180px; overflow:hidden; float:left; margin-left:2px; margin-bottom:2px; position:relative; cursor:pointer;}
#zzFF ul li img{ width:188px; height:180px;}
#zzFF ul li .text{ width:100%; height:49px; overflow:hidden; position:absolute; left:0; bottom:0; background-color:#000; opacity:0.6; font-size:13px; color:#fff;}
#zzFF ul li .text p{ width:90%; color:#fff; line-height:25px; padding-left:13px; overflow:hidden; font-size:13px;  clear:both}
#zzFF ul li .text b{ display:block; float:left; background:#000; text-indent:1em; overflow:hidden; font-size:13px; height:20px; line-height:20px; margin-bottom:2px;}
#zzFF ul li .text a{ color:#fff;}
#zzFF ul li .text a:hover{ color:#fff;}


/*ThreeFloor*/
.ThreeFloor { width:768px; border:1px solid #d7d7d7; overflow:hidden; margin-top:20px;}
.ThreeTitle { width:100%; height:40px; background-color:#f5f5f5; overflow:hidden; border-bottom:2px solid #36793b;}
.ThreeTit { width:200px; height:40px;  background-color:#36793b; float:left;  overflow:hidden;}
.ThreeTit a{ color:#fff;}
.ThreeTit a:hover{ color:#ebb242; text-decoration:none;}
.ThreeTit img { width:37px; height:37px; float:left; padding-left:35px; padding-top:3px;}
.ThreeTit h1 { color:#fff; font-weight: bold;font-size:18px; line-height:40px; margin-left:18px; display:inline-block;}
.Threenav { width:50%; height:20px; float:left;  overflow:hidden; margin-top:15px; margin-left:20px;} 
/*.Threenav ul {}
.Threenav ul li { width:20%; height:20px; text-align:center; line-height:20px; float:left; overflow:hidden; border-right:1px solid #ccc;}*/
.ThreeMore { width:7%; height:20px; line-height:20px; float:right; margin-top:15px;}

.Meeting { width:230px; height:182px; float:left; overflow:hidden; margin-top:10px; margin-left:22px;}
.Meetit h2{ width:100px;font-weight: bold; height:30px; line-height:30px; float:left; overflow:hidden; font-size:13px; color:#36793b;}
.Meetit h2 a{ color:#36793b}
.Meetit h2 a:hover{color:#f1a106; text-decoration:none;}
.Meetmore { width:35px; height:30px; line-height:30px; float:right;}
.Meetnew { width:100%; overflow:hidden;}
.Meetnew ul {}
.Meetnew ul li { width:100%; height:30px; line-height:30px; overflow:hidden; white-space:nowrap;  text-overflow:ellipsis;_text-overflow:ellipsis;*text-overflow:ellipsis;}
/*Newpeople*/
.Newpeople { width:100%; height:190px; float:left; overflow:hidden; margin-top:20px;}
.Newpeotit { width:100%; height:30px; line-height:30px;}
.Newpeotit h2{ width:100px; height:30px; line-height:30px;font-weight: bold; float:left; overflow:hidden; font-size:13px; color:#36793b; margin-left:20px;}
.Newpeotit h2 a{ color:#36793b}
.Newpeotit h2 a:hover{color:#f1a106;  text-decoration:none;}
.Newpeopic { width:100%; overflow:hidden; float:left; margin-left:20px; margin-top:10px;}
.Newpeopic ul {}
.Newpeopic ul li { width:230px; height:135px; float:left; overflow:hidden; margin-left:20px;}
.Newpeopic ul li.Newnow { margin-left:0px; display:inline-block;}
#znews{ height:auto; width:230px;margin:0px auto; overflow:hidden;}
#znews ul li{ width:230px; height:135px; overflow:hidden; float:left; margin:0px 10px 10px 0px; position:relative; cursor:pointer;}
#znews ul li .text{ width:100%; height:45px; overflow:hidden; position:absolute; left:0; bottom:0; background-color:#000; opacity:0.6; font-size:13px; color:#fff;}
#znews ul li .text p{ width:90%; color:#fff; overflow:hidden; line-height:20px; padding-left:13px; font-size:13px;  clear:both; padding-top:5px;}
/*#znews ul li .text b{ display:block; float:left; background:#000; text-indent:1em; font-size:13px; height:20px; line-height:20px; margin-bottom:2px;}*/


/*Mright*/
.Mright { width:217px; overflow:hidden; float:right; }
.Business { width:99%;  height:400px; float:left;border:1px solid #d7d7d7;}
.Bustit { width:169px; height:40px; line-height:40px; border-bottom:2px solid #36793b; float:left;}
.Bustit h2{ font-size:14px;font-weight:bold; text-indent:1em; color:#36793b;}
.Bustit h2 a{ color:#36793b;}
.Bustit h2 a:hover{color:#f1a106; text-decoration:none;}
.Busmore { width:45px; height:40px; line-height:40px; border-bottom:2px solid #36793b; float:right;}
.Bustitle { width:100%; overflow:hidden; float:left;}
.Bustitle ul{}
.Bustitle ul li { width:100%; height:60px; float:left; border-bottom:1px dashed #ccc; overflow:hidden; margin-top:10px;}
.Bustitle ul li span.titles { width:100%; height:25px; line-height:25px; float:left; display:inline-block; overflow:hidden; text-align:center;white-space:nowrap;  text-overflow:ellipsis;_text-overflow:ellipsis;*text-overflow:ellipsis;}
.Bustitle ul li span.Price { width:100%; height:25px; line-height:25px; float:left; display:inline-block; overflow:hidden; text-align:center; white-space:nowrap;  text-overflow:ellipsis;_text-overflow:ellipsis;*text-overflow:ellipsis;}
.Bustitle ul li span.Red{ color:#f00; font-weight:bold;}
.Bustitle ul li.Last { border:none;}
/*Focus*/
.Focus { width:99%; height:402px; float:left; margin-top:20px; overflow:hidden;}
.Focus img { width:100%; height:402px;}
/*Sale*/
.Sale { width:99%; height:437px; float:left; overflow:hidden; border:1px solid #d7d7d7; margin-top:20px;}
.Satit { width:100%; height:40px; line-height:40px; border-bottom:2px solid #36793b; overflow:hidden; float:left;}
.Satit h2{ font-size:14px; text-indent:1em; color:#36793b;font-weight: bold;}
.Satit h2 a{ color:#36793b}
.Satit h2 a:hover{color:#f1a106; text-decoration:none;}
.Stits { width:99%; overflow:hidden; float:left; overflow:hidden; margin-top:10px;}
.Stits ul {}
.Stits ul li { width:98%; height:94px; float:left; overflow:hidden; margin-top:5px;}
.Stits ul li span.Spic { width:95px; height:67px; border:1px solid #ccc; float:left; display:inline-block; overflow:hidden; margin-left:5px; margin-top:7px;}
.Stits ul li span.Stitle { width:98px; height:93px; line-height:16px; float:left; display:inline-block; font-size:11px; overflow:hidden; margin-left:8px;}
.Adbanner { width:100%; height:90px; overflow:hidden; margin-top:20px; float:left;}
.Adbanner img { width:100%; height:90px;}
/*Footer*/
.Footer { width:100%; height:210px; background-color:#f1f1f1; margin-top:20px;}
.Buyers ul { width:100px; padding-top:40px; float:left; padding-right:50px;}
.Buyers ul li { width:100%; height:25px; line-height:25px;  float:left; overflow:hidden;}
.Buyers ul li.Buys { font-size:15px; font-weight:bold; color:#666;}
.Buyers ul li.phonef { width:231px; height:62px; overflow:hidden;}
/*news*/
/* .news > .contain{box-sizing:border-box;width:950px;height:100%;background-size:100%;padding:30px;word-wrap:break-word;overflow:hidden;}
.news h1{box-sizing:border-box;text-align:center;font-size:30px;margin-top:50px;}
.news h2{box-sizing:border-box;text-align:center;font-size:26px;margin:30px;}
.news h3{box-sizing:border-box;text-align:center;font-size:20px;margin:20px;}
.news span{font-weight:bord;font-size:22px}
.news h1{font-family:"微软雅黑";font-size:25px;}
.news p{box-sizing:border-box;text-indent:2em;font-family:"微软雅黑";font-size:20px;line-height:30px;}
.news .newsP{box-sizing:border-box;text-indent:2em;font-family:"微软雅黑";font-size:20px;line-height:30px;} */
.newsinfo { width:1000px; margin:auto; overflow:hidden;border:1px solid #36793b; border-top:none; padding:10px 0;}
.newsconts { width:95%; overflow:hidden; margin:auto; }
.newsconts h1{ height:30px; line-height:30px; font-size:20px; font-weight:bold; text-align:center; padding-top:30px;}
.newsconts p{ line-height:25px; overflow:hidden; font-size:13px; margin-top:10px; text-indent:2em;}
.newsconts h2{ height:30px; line-height:30px; font-size:18px; font-weight:bold; text-align:center; padding-top:30px;}
.newsconts h3{ height:30px; line-height:30px; font-size:16px; font-weight:bold; text-align:center; padding-top:10px;}
.newsconts table { width:700px; line-height:25px; overflow:hidden; margin:auto; margin-top:20px;border:1px solid #ccc;}
.newsconts td { text-align:center; font-size:14px; height:65px; border:1px solid #ccc;}
.newsconts tr{border:1px solid #ccc;}
.topmargin {margin-top:480px;}

.Topleft li.logged_in{ float:left; margin-right:5px;}
.newsconts a{ display: inline-block; line-height: 30px; width:70%; }
