.clearfix:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:"";
	clear:both;
	height:0;
}
.wrap{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
*{
	box-sizing:border-box;
}
button{
	cursor: pointer;
}
a{
	text-decoration:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
li{
	list-style:none;
}