/*
## productList
********************************************************************/
.productList{margin:0 0 0 -20px;}
.productListItem{float:left; display: inline-block; border:1px solid #e1e1e1; margin-left:20px; margin-bottom:20px; width:244px; padding-bottom:12px}
.productListItem .detail{padding-left:10px; padding-right:10px}
.productListItem .thumb{width:244px; height:220px}
.productListItem .head{color:#333; font-size:14px; line-height: 25px;}
.productListItem .pnBox{ margin-top:5px; margin-bottom:5px}
.productListItem .price{font-weight:bold; float:left;}
.productListItem .norm,.productListItem .origin{color:#666; float:right}
.productListItem .seller,.productListItem .origin{color:#999;}
.productListItem .cart{ margin:10px 20px}
.productListItem .addToCartButton,.productAddToCartPanel .addToCartButton {background-color: #f1a106; border:0; color:#fff; cursor:pointer; font-size:16px; height:45px; line-height: 45px; width:200px; text-align:center;}
.productListItem .addToCartButton:hover{background-color: #f19606}
.productAddToCartPanel .addToCartButton{margin-top:45px;}







