<style>
td img{width:60px;height:60px};
</style>

<div>
	<form id="searchCondition">
		<label for="storeName">店铺名称</label> <input name="storeName"></input> 
		<label for="productCode">产品编码</label> <input name="productCode"></input> 
		<label for="productName">产品名称</label> <input name="productName"></input>
		<input type="button" id="getProductListButton" value="查询"></input>
	</form>
</div>
<div id="productListTab">
	<div class="tabHead">未审批</div>
	<div class="tabBody" status="UNCHECK" >
		<table id="productListGrid" class="productListTable" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>缩略图</th>
					<th>商品ID</th>
					<th>商品名称</th>
					<th>所属目录</th>
					<th>提交时间</th>
					<th>店铺名称</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="tabHead">已提交</div>
	<div class="tabBody"  status="APPROVED">
		<table id="approved" class="productListTable" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>缩略图</th>
					<th>商品ID</th>
					<th>商品名称</th>
					<th>所属目录</th>
					<th>提交时间</th>
					<th>店铺名称</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>